



<div style="text-align:center">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
  
</div>

<!-- <div> Months :
    <select>
        <option>Please select</option>
        <option *ngFor = "let i of months">{{i}}</option>
     </select>
  </div> -->
  <div> Months :
      <select (change)="onMonthSel($event.target.value)">
        <option>please select</option>
        <option *ngFor="let i of months">{{i}}</option>
      </select>
      <option>The selected month is :{{selectedMonth}}</option>
    </div>
    
  <br/>
<div>
   <span *ngIf = "isavailable; then  condition1 else condition2">Condition is valid.</span> 
   <ng-template #condition1>Condition is valid</ng-template>
   <ng-template #condition2>Condition is invalid</ng-template>
  <!--over here based on if condition the text condition is valid is displayed. 
  If the value of isavailable is set to false it will not display the text.-->
</div>

<router-outlet></router-outlet> 

  <div style="float: left;">
    <button routerLink="/profile-editor">previous component</button>
  </div>
  <br>
  
